body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
    max-height: 100%;
    max-width: 100%;
}


.landscape-img {
    height: 250px;
    width: 350px;
}

.success-box {
    margin: 50px 0;
    padding: 10px 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
}

    .success-box img {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
    }

    .success-box > div {
        vertical-align: top;
        display: inline-block;
        color: #888;
    }

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star > i.fa {
    font-size: 2.5em; 
    color: #ccc; 
}

.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}
