
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<h3>Total number of bookings per event</h3>
<canvas id="myChart" width="400" height="400"></canvas>


@section Scripts {
    @Scripts.Render("~/Scripts/Chart.js")
    @Scripts.Render("~/Scripts/dashboard.js")
}