@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

    <form class="form-inline my-2 my-lg-0">

        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "mr-2" })
        <button class="btn btn-outline-dark mr-2 my-sm-0" onclick="document.getElementById('logoutForm').submit()">Log off</button>

    </form>
    }
}
else
{
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success mr-2 my-sm-0" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)'; return false;">Register</button>
        <button class="btn btn-outline-success mr-2 my-sm-0" onclick="location.href='@Url.Action("Login", "Account", routeValues: null)'; return false;">Log in</button>
    </form>
}
