@using EventsNearMe.Models
@model Event[]

@{
    ViewBag.Title = "Home Page";
}

<div class="row mb-2">
    @foreach (Event e in Model)
    {
        @RenderPage("~/Views/Shared/_EventCard.cshtml", new { Event = e })
    }
</div>
