@model EventsNearMe.Models.Event[]
@{
    ViewBag.Title = "Home Page";
}
    <div class="card-deck mb-4">
        @foreach (EventsNearMe.Models.Event e in Model)
        {
            @RenderPage("~/Views/Shared/_EventCard.cshtml", new { Event = e })
        }
    </div>
    
    @RenderPage("~/Views/Shared/_Pagination.cshtml")