@{
    ViewBag.Title = "Home Page";
}

    <div class="card-deck">
        @RenderPage("~/Views/Shared/_EventCard.cshtml")
        @RenderPage("~/Views/Shared/_EventCard.cshtml")
        @RenderPage("~/Views/Shared/_EventCard.cshtml")
        @RenderPage("~/Views/Shared/_EventCard.cshtml")
    </div>